################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebCamImageSync/.vs/WebCamImageSync/v16
/WebCamImageSync/WebCamImageSync/bin/Debug/netcoreapp3.1
/WebCamImageSync/WebCamImageSync/obj
/WebCamImageSync/Infrastructure/bin/Debug/netcoreapp3.1
/WebCamImageSync/Infrastructure/obj
/WebCamImageSync/.vs/WebCamImageSync
/WebCamImageSync/Infrastructure.Test/bin/Debug/netcoreapp3.1
/WebCamImageSync/Infrastructure.Test/obj
